*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Proxima Nova Regular";
    src: url("font/Fontspring-DEMO-proximanova-regular.otf") format("opentype");
}

@font-face {
    font-family: "Proxima Nova Bold";
    src: url("font/Fontspring-DEMO-proximanova-bold.otf") format("opentype");
}

@font-face {
    font-family: "Proxima Nova ExBold";
    src: url("font/Fontspring-DEMO-proximanova-extrabold.otf") format("opentype");
}

b{
    font-family:Proxima Nova Bold,sans-serif;
}

body{
    color: #211f20;
    text-rendering: optimizeLegibility;
    font-family: Proxima Nova Regular,sans-serif;
    font-weight: 400;
    font-style: normal;
}

body,html{
    font-size: 16px;
    line-height: 1.66666667em;
}


.teaserCarousel {
    background-image: linear-gradient(180deg,#4852a8,#005dba);
}

.teaserCarousel-main-container{
    margin: auto;
    max-width: 1600px;
    padding-top: 45px;
    padding-bottom: 53px;
    position: relative;
}

.teaserCarousel-background{
    position: absolute;
    bottom: 0;
    top: 20%;
    width: 40%;
    left: -7%;
}

.teaserCarousel-background img{
    width: 100%;
    height: 100%;
}

.teaserCarousel-container{
    max-width: 1466px;
    display: flex;
    width: 100%;
    grid-gap: 32px;
    gap: 32px;
    margin-left: auto;
}

.teaserCarousel-details{
    display: flex;
    justify-content: center;
    max-width: 465px;
    flex-direction: column;
    padding-left: 24px;
    min-width: 300px;
}

.text{
    color: #fff;
    font-size: 1.25rem;
    letter-spacing: .3px;
    line-height: 34px;
    max-width: 1600px;
    word-break: break-word;
    font-family: Proxima Nova Regular,sans-serif;
    font-weight: 400;
    font-style: normal;
}

.teaserCarousel .text p {
    font-size: 16px;
    font-family: Open Sans,sans-serif;
}

.text h2{
    margin-top: 35.556px;
    font-size: 52px;
}
.text p{
    margin-top: 24px;
    margin-bottom: 26.667px;
}

.teaserCarousel-button .button{
    background-color: #fedb00;
    background-image: none;
    color: #211f20;
    border-radius: 2px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: auto;
    /* padding: 0.75rem 1.563rem 0.688rem; */
}

.button-text{
    padding: 0.75rem 1.563rem 0.688rem;
}

.button1 {
    position: relative;
    display: inline-block;
    background-color: #fedb00;
    color: #211f20;
    padding: 4px 1.563rem 0px;
    cursor: pointer;
    border-radius: 4px;
    overflow: hidden;
    border-radius: 2px;
    height: 39.984px;
}

.btn1{
    font-size: .875rem;
    letter-spacing: 3.5px;
    line-height: 1.2142;
    text-transform: uppercase;
    font-family: Proxima Nova Regular,sans-serif;
    font-weight: 700;
    font-style: normal;
    position: relative;
    z-index: 2;
}

.button1::before,
.button1::after{
    background: linear-gradient(90deg, #211f20, #474747);
    content: "";
    position: absolute;
    width: 100%;
    height: 50%;
    top: 0;
    pointer-events: none;
    transition: transform 0.4s;
    transition-timing-function: cubic-bezier(.64, .04, .35, 1);
}

.button1::before{
    left: 0;
    top: 50%;
    transform: translateX(-102%);
}

.button1::after {
    right: 0;
    bottom: 50%;
    transform: translateX(102%);
}

.button1:hover{
    color: #fff;
}

.button1:hover::before,
.button1:hover::after {
    transform: translateX(0%);
    
}


.teaserCarousel-CarouselMain{
    padding-left: 45px;
    position: relative;
    overflow: hidden;
}

.teaserCarousel-Carousel{
    display: flex;
    align-items: center;
    max-width: 969px;
}

.teaserCarousel-teaserCont{
    position: relative;
    width: 100%;
    overflow: hidden;
}

.teaserCarousel-teaserCont .teaserCarousel-body{
    
    display: flex;
    transition: transform 1s ease 0s;
    width: 222.222%;
}

.teaserCarousel .teaser {
    padding-top: 90px;
}

.teaserCarousel-teaserCont>.teaserCarousel-body>div {
    padding-left: 16px;
    padding-right: 16px;
    width: 16.6667%;
}

.teaser{
    cursor: pointer;
    transition: transform 1s ease 0s;
}

.teaser:hover{
    transform: translateY(-20px);
    opacity: 0.8;
}
.teaser:hover .cmp-teaser-media{
    filter: grayscale(0);
}
.teaser:hover .cmp-teaser-button-text {
    color: #211f20;
}
.teaser:hover .hoverable path{
    fill: #211f20;
}

.teaserCarousel .teaser .cmp-teaser {
    -webkit-clip-path: none;
    clip-path: none;
    background-color: #f2f4f6;
    padding: 24px;
    opacity: 1;
}

.cmp-teaser {
    display: flex;
    flex: 1 1 auto;
    flex-flow: column nowrap;
    height: 100%;
    padding: 0;
}

.cmp-teaser {
    position: relative;
}

.cmp-teaser-media{
    filter: grayscale(1);
    height: 100%;
}

.cmp-image {
    max-width: 1460px;
    opacity: 1;
    margin-top: -90px;
}

.cmp-image-container {
    display: inline-block;
    max-width: 100%;
    position: relative;
}

.cmp-image-image{
    vertical-align: top;
    width: auto;
}

.cmp-teaser-content {
    display: flex;
    flex: 1 1 auto;
    flex-flow: column nowrap;
    height: 100%;
    padding: 0;
    letter-spacing: .0625em;
}

.cmp-teaser-title {
    font-size: 1.875rem;
    text-decoration: none;
    font-family: Proxima Nova Bold,sans-serif;
    font-weight: 700;
    font-style: normal;
    margin-bottom: 8px;
    margin-top: 5px;
}

.cmp-teaser-button-text{
    color: #005dba;
    font-size: .875rem;
    letter-spacing: 3.5px;
    line-height: 1.2142;
    text-transform: uppercase;
    font-family: Proxima Nova Regular,sans-serif;
    font-weight: 500;
    font-style: normal;
    margin-right: 10px;
}

.teaserCarousel-prev{
    margin-right: 4px;
    transform: translateY(50%);
    left: 0;
}
.teaserCarousel-next{
    transform: rotate(-180deg) translateY(-50%);
    right: 12px;
}
.teaserCarousel-btn{
    box-shadow: 0 3px 6px rgba(0,0,0,.16078);
    border-radius: 50%;
    background-color: #fff;
    border: none;
    width: 38px;
    height: 38px;
    cursor: pointer;
    z-index: 100;
    align-items: center;
    position: absolute;
    bottom: 50%;
    padding: 0;
}

.teaser-carousel-dots{
    
    margin-bottom: 1.66666667em;
    margin-left: 0;
    padding-left: 16px;
    padding-top: 24px;
    display: flex;
    list-style-type: none;
    grid-gap: 16px;
    gap: 16px;
}

.teaser-carousel-dot{
   
    margin: 0;
    padding: 0;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #fff;
    opacity: .6;
    cursor: pointer;
}

.teaser-carousel-count{
    display: none;
    font-size: 26px;
    color: #fff;
}

.teaser-carousel-no{
    font-weight: 800;
    font-family: Proxima Nova Bold,sans-serif;
}
.active{
    opacity: 1;
}

.dim{
    opacity: .6;
    pointer-events: none;
}
.teaserCarousel-main-container::after{
    content: "";
    position: absolute;
    background: linear-gradient(90deg,transparent,#005dba 85%);
    right: 0;
    width: 150px;
    top: 0;
    bottom: 0;
}

@media (max-width: 1200px){


    .teaserCarousel-main-container{
        padding-top: 20px;
    }

    .teaserCarousel-background{
        top: 0;
        left: 0;
        right: 0;
        height: 40%;
        bottom: auto;
        width: 35%;
    }
    .teaserCarousel-main-container::after{
        display: none;
    }
    .cmp-teaser-carrousel-indicator{
        display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 58px;
    margin: 0 15px;
    }
    .teaserCarousel-container{
        flex-direction: column;
    }
    .teaserCarousel-details{
        max-width: unset;
        padding: 0 20px;
        min-width: unset;
    }

    .teaserCarousel .text p {
        font-size: 20px;
    }

    .button1{
        width: 100%;
        text-align: center;
    }

    .teaserCarousel-teaserCont .teaserCarousel-body{
        width: 352.941%;

    }
    .teaserCarousel-CarouselMain {
        position: relative;
        padding-left: 0;
    }
    
    .teaserCarousel-Carousel {
        position: static;
        max-width: unset;
    }
     img{
        max-width: 100%;
     }
    
     .cmp-teaser-carousel-indicator{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 58px;
    margin: 0 15px;
     }

    .teaserCarousel-prev{
     transform: none;
    }
    .teaserCarousel-btn{
        position: static;
    }
    .teaserCarousel-next{
        transform: rotate(-180deg);
    }
}

@media only screen and (min-width: 768px){
    h2 {
        line-height: 3.875rem;
    }
}

@media (max-width: 840px){
    .teaserCarousel-background {
        width: 50%;
        height: 30%;
    }

    .teaserCarousel-container {
        padding-left: 20px;
        padding-right: 20px;
    }

    .teaserCarousel-details {
        padding-left: 0;
        padding-right: 0;
        max-width: 100%;
    }
    .teaserCarousel-teaserCont>.teaserCarousel-body>div {
        padding-left: 0px;
        padding-right: 0px;
        width: 16.6667%;
    }
    .teaserCarousel-teaserCont .teaserCarousel-body {
        width: 600%;
    }

    .cmp-teaser-carousel-indicator{
        margin: 0;
    }

    .teaser-carousel-dots{
        display: none;
    }
    .teaser-carousel-count{
        display: block;
    }
}    


@media (max-width:500px){

    .text h2 {
        font-size: 2.5rem;
        line-height: 3.125rem;
        font-family: 'Proxima Nova Regular';
        font-weight: 700;
    }
}

@media (max-width: 622px){
    .teaserCarousel-background {
        width: 53%;
        height: 25%;
    }
    .cmp-teaser-media{
        filter: grayscale(0);
    }
}

@media (max-width: 550px){
    .teaserCarousel-background {
        width: 58%;
        height: 20%;
    }
}

@media (max-width: 378px){
    .teaserCarousel-background {
        height: 25%;
        width: 98%;
    }

}

/* Careers */

:root {
    --mobImg: url('images/Map-Outline-Hero-633x422\ \(1\).png');
    --deskImg: url('images/people_map.svg');
  }

.cmp-careers {
    background: var(--deskImg);
    position: relative;
    background-color: #f2f4f6!important;
    background-repeat: no-repeat!important;
    object-fit: contain;
}

.cmp-careers-icon{
    display: flex;
    justify-content: center;
    transform: translateY(20px);
}


.cmp-careers-containermain{
    margin: auto;
    max-width: 1600px;
    padding-top: 50px;
    padding-bottom: 68px;
    position: relative;
}

.cmp-careers-container{
    max-width: 1466px;
    margin: auto;
}

.cmp-careers-details {
    max-width: 100%;
    text-align: center;
}

.cmp-careers-text {
    text-align: center;
    max-width: 868px;
    margin: auto;
}

.cmp-text {
    color: #211f20;
    font-size: 1.25rem;
    letter-spacing: .3px;
    line-height: 34px;
    max-width: 1600px;
    word-break: break-word;
    font-weight: 400;
    font-style: normal;
}

h2, b, h3 {
    font-style: normal;
    font-family: 'Proxima Nova Regular';
}

@media only screen and (min-width: 768px)
{
h2 {
    font-size: 3.25rem;
    line-height: 3.875rem;
    margin-top: 35.556px;
}
}

h2 b {
    letter-spacing: 0;
    font-weight: 800;
    font-family: Proxima nova ExBold;
}

.cmp-careers .cmp-text p {
    font-size: 20px;
    line-height: 37px;
    margin-top: 20px;
    margin-bottom: 66px;
    color: #211f20;
    font-family: Open Sans,sans-serif;
}

.job-card-cont{
   
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    grid-gap: unset;
    gap: unset;
}

.job-card{
    max-height: 237px;
}

.cmp-careers-Jobcardmain .cmp-careers-jobcard>.job-card-cont{
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    grid-gap: unset;
    gap: unset;
}

.cmp-careers-Jobcardmain .cmp-careers-jobcard>.job-card-cont .job-card {
    width: 33.3%;
    padding: 0 20px;
}

.cmp-jobCard {
    background-image: linear-gradient(180deg,#e9e9e9,#e9e9e9);
    position: relative;
    height: 100%;
    overflow: hidden;
    cursor: pointer;
}

.cmp-jobCard-container {
    display: flex;
    height: 100%;
}

.cmp-jobCard-container:before {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    background-color: #fff;
    left: 0;
    z-index: 1;
    width: 65.5%;
    clip-path: polygon(74% 0,100% 50%,74% 100%,0 100%,0 0);
    opacity: .92;
    filter: blur(30px) brightness(.5);
}

.cmp-jobCard-details {
    position: absolute;
    top: -5px;
    bottom: 0;
    width: 62%;
    z-index: 1;
    background: transparent linear-gradient(314deg,#4852a8,#005dba) 0 0 no-repeat padding-box;
    opacity: 1;
    padding: 24px 24px 30px 23px;
    box-sizing: border-box;
    clip-path: polygon(72% 0,100% 49%,73% 100%,0 100%,0 0);
}

.cmp-jobCard-subHeading {
    font-size: 14px;
    line-height: 24px;
    color: #fff;
    margin: 0;
    font-weight: 700;
}

.cmp-jobCard-heading {
    color: #fff;
    font-size: 30px;
    margin: 0;
    line-height: 40px;
    font-weight: 700;
}

.cmp-jobCard-cta {
    position: absolute;
    bottom: 0;
    padding-bottom: 5%;
    color: #fff;
    text-decoration: underline;
    cursor: pointer;
    font-weight: 700;
}

.cmp-jobCard-image {
    width: 100%;
    height: 100%;
    height: auto;
    overflow: hidden;
}

.cmp-jobCard-image img {
    width: 100%;
    height: 100%;
}

.cmp-jobCard-cta svg {
    fill: #fff;
    margin-left: 16px;
}

.cmp-jobCard-image img {

    transition: transform .5s linear;
    object-fit: cover;
}


.cmp-jobCard:hover .cmp-jobCard-cta{
    color: #fedb00;
}

.cmp-jobCard:hover .hoverable path{
    fill: #fedb00;
}

.cmp-jobCard:hover .cmp-jobCard-image img{
    transform: scale(1.1);
}

@media (max-width: 1200px)
{
    .cmp-careers .cmp-text p {
        font-size: 20px;
        line-height: 37px;
        margin-top: 0;
        margin-bottom: 0;
        padding: 25px 25px 0;
        text-align: left;
        color: #211f20;
    }

    .cmp-careers-Jobcardmain .cmp-careers-jobcard>.job-card-cont{
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    grid-gap: unset;
    gap: unset;
    }
    .cmp-careers-Jobcardmain .cmp-careers-jobcard>.job-card-cont .job-card {
        width: 50%;
        padding: 0 20px;
        margin-top: 32px;
    }
}    

@media (max-width: 765px){
    .cmp-careers .cmp-text h2 {
        margin-top: 0px;
    }
    .cmp-careers-Jobcardmain .cmp-careers-jobcard>.job-card-cont .job-card {
        width: 100%;
        padding: 0;
    }
    h2{
        font-size: 2.5rem;
        line-height: 3.125rem;
        font-weight: 500;
    }
    .cmp-careers {
        background: var(--mobImg);
    }
        
}


@media (min-width: 1800px){
    .teaserCarousel-main-container::after{
        background: linear-gradient(90deg,transparent,#005dba 125px);
        width: calc(50vw - 650px);
        right: -475px;
    }
}

@media (max-width: 345px){
.cmp-jobCard-details {
    padding: 24px 24px 30px 10px;
}
}